table, th, td {
    border: 1-x solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #eee;
}

tr:nth-child(odd) {
    background-color: #fff
}

th {
    background-color: black;
    color: white;
    width: fit-content;
}

.table {
    overflow-x: auto;
    table-layout: fixed;
    height: 600px;
    width: 1500px;
}